* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: whitesmoke;
}

.dropdown-menu a {
    cursor: pointer;
}


#header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 8vh;
    padding: 50px 80px;
    position: relative;
    text-align: center;
}

.logo {
    width: 50%;
}

.logo img {
    width: 100%;
}



.nav-item a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

#hero {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..\\images\\getsupport-hero.jpg") no-repeat center center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    height: 60vh;
}

body h1 {
    font-size: 4em;
}

body h4 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

.nav-item a:active {
    text-decoration: none;
    border-bottom-color: black;

}

.nav-item a:hover {
    text-decoration: none;
    border-bottom-color: black;
    color: black;

}

.nav.nav-underline {
    display: none;
}


button {
    padding: 10px 30px;
    width: 30%;
    background-color: #4169E1;
    color: white;
}

#body-content,
.content {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 30px 0px;
}

.content {
    width: 80%;
}

.content-item {
    width: 100%;
    background-color: white;
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.content-item-bottom {
    width: 95%;
    background-color: white;
    padding: 80px;
    text-align: center;
}

#footer {
    height: 10vh;
    background-color: black;
    text-align: center;
    color: white;
    padding: 80px;
}

.header-btn {
    display: none;
}

@media only screen and (min-width:480px) {
    .logo {
        width: 40%;
    }

    .logo img {
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    .nav.nav-underline {
        display: flex;
    }

    .dropdown {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .logo img {
        width: 70%;
    }
}

@media only screen and (min-width:1200px) {
    .content-item {
        width: 30%;
    }

    .logo {
        width: 30%;
    }

    .logo img {
        width: 50%;
    }
}

/* HOME TAB */

#home-hero {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..\\images\\home-hero.jpeg") no-repeat center center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    height: 60vh;
}

.dropdown-menu a {
    cursor: pointer;
}

.home-sections {
    /* height: 60vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 30px;
}

.home-sections[index="1"] {
    background-color: white;
}

.home-sections[index="2"] {
    background-color: whitesmoke;
}

.home-section-img {
    width: 100%;
}

.home-section-content,
.home-section-img img {
    width: 100%;
    margin: 10px;
}

.btns {
    width: 100%;
    text-align: start;
}

.home-section-content {
    padding: 20px;
}

.btns button {
    width: auto;

}

.home-section-content p {
    font-size: 1em;
}

.btns button {
    background-color: transparent;
    color: black;
    font-weight: 300;
    border: 1px solid black;
    padding: 15px 20px;
}

.btns button[index="1"] {
    background-color: black;
    color: white;
    font-weight: 300;
}

.btns button[index="ALPACA-1"] {
    background-color: #7EBF01;
    color: white;
    font-weight: 300;
    border: none;
}

@media only screen and (min-width:1200px) {
    .home-sections {
        padding: 100px;
    }

    .home-section-content {
        width: 40%;
        padding-right: 5%;
        text-align: start;
    }

    .home-section-img {
        text-align: end;
        width: 55%;
    }

    .home-section-img img {
        width: 90%;
    }

    .btns {
        width: 100%;
        text-align: center;
    }

    /* .btns button{
        width: 40%;
    } */
}

